[run]
source = .
omit =
    # omit some files
    app.py
    mydataclass.py
    
    # omit files in the configs directory
    configs/**

    # omit everything in /tests    
    tests/**

    # omit all __init__.py files every where
    *__init__.py

[pytest]
env_override_existing_values = 1
env_files =
    .env
    .test.env
    .dev.env
filterwarnings =
    ignore::UserWarning
    ignore:DeprecationWarning
addopts = -p no:warnings